**/Flutter/Generated.xcconfig
**/Flutter/flutter_export_environment.sh
**/Flutter/ephemeral/
**/ServiceDefinitions.json
**/Pods/
**/.symlinks/
**/profile
**/xcuserdata
**/.xcode.env.local
**/GeneratedPluginRegistrant.swift
DerivedData/

